.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.aboutUsImage {
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.1);
}



.aboutUsTitle {
  font-size: clamp(2rem, 4vw, 8rem) !important;
  font-weight: bold !important;
  color: #ff0000;
  margin-bottom: 16px;
}

.aboutUsParagraph {
  font-size: 1.2rem;
  color: gray;
  line-height: 1.6;
  margin-bottom: 16px;
}
